div.style1
{
    height: 400px;
    width: 18%;
    float: right;
}
img
{
    width: 100%;
    height: 50%;
}
@font-face{
    font-family: "st";
    src: url("st.ttf");
    font-weight: bold;
}
h1
{
    font-family: "st";
}
div.style2
{
    float: right;
    height: 50px;
    width: 5%;;
}
div.style3
{
    width: 50%;
    height: 50%;
}