.style1
{
    float: center;
    margin-top: 10%;
}
.style7
{
    width: 30%;
    min-height: 20vh;
    display: inline;
    float: right;
}
@font-face{
    font-family: "st";
    src: url("st.ttf");
    font-weight: bold;
}
h1
{
    color: rgb(185, 3, 3);
    font-family: "st";
}
div.style2
{
    float: right;
    height: 50px;
    width: 5%;;
}
div.style3
{
    width: 50%;
    height: 50%;
}
.style4
{
margin-left: 20%;
}
h2
{
    color: rgb(185, 3, 3);
    font-family: "st";
    text-align: center;
}
h4
{
    font-family: "st";
    text-align: left;
}
h3
{
    color: rgb(185, 3, 3);
    font-family: "st";
    text-align: left;
}
div.style5
{
    min-height: 10vh;
    margin-left: 5%;
    margin-right: 8%;
    background-image: url("back.png");
    
}
h5
{
    color: rgb(255, 0, 0);
    font-family: "st";
    font-size: 30px;
    display: inline;
}
.style6
{
    min-height: 10vh;
    width: 20%;
}
.style8
{
    min-height: 8vh;
    width: 8%;
}
.style9
{
    margin-top: 10%;
}
body{
    margin-right: 5%;
    margin-left: 5%;
}
